*{
	box-sizing:border-box;
}
html,body{
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}
@media screen and (max-width: 1190px) {
  html {
    font-size: 158.66667px; } }

@media screen and (max-width: 850px) {
  html {
    font-size: 113.33333px; } }

@media screen and (max-width: 800px) {
  html {
    font-size: 106.66667px; } }

@media screen and (max-width: 750px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 640px) {
  html {
    font-size: 85.33333px; } }

@media screen and (max-width: 540px) {
  html {
    font-size: 72px; } }

@media screen and (max-width: 470px) {
  html {
    font-size: 62.66667px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 42.66667px; } }

/* 字体图标 */
.icon {
   width: 0.8rem; 
   height: 0.8rem;
   vertical-align: middle;
   fill: currentColor;
   overflow: hidden;
   color: #00b7ee;
   padding: 0.15rem;
}
.lf{
  float: left;
}
.rf{
  float: right;
}
/* 功能介绍 */
.main{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
.main img{
    width: 100%;  
} 
#introdution .main .qrcode{
    width:2.1rem;
    height: 2.1rem;
    border-radius:0.08rem; 
    position:absolute; 
    left: 50%;  
    bottom: 1.52rem;
    overflow: hidden;
    transform: translateX(-50%);

}
#introdution .qrcode img{
  width: 100%;
  height: 100%;

}
/* 新手入门 */
#getStart p{
  width: 100%;
  height: 0.8rem;
  color: #383838;
  font-size: 0.24rem;
  font-family: "苹方细体";
  padding-left: .2rem;
  padding-right: .2rem;
  line-height: 1rem;
}
#getStart .hotques{
  background: #fff;
  padding-left: .2rem;
  padding-right: .2rem;
}
.hotques a{
  display: block;
  width: 7.1rem;
  height: 1rem;
  color: #383838;
  border-bottom: 2px solid #f1f1f1;
  line-height: 1rem;
}
#getStart .hotques a:nth-last-child(1){
  border-bottom: none;
}
.hotques a i{
  font-size: 0.32rem;
  font-family: "苹方中等";
  font-style: normal;
  color: #383838;
}
.hotques a span{
  width: 0.32rem;
  height: 0.6rem;
  margin-top: 0.2rem;
}
.hotques a span img{
  width: 100%;
  height: 100%;
}
/* question1 */
.backTwo{
  display: block;
  width: 0.6rem;
  height: 0.48rem;
  margin: 0.2rem;
}
.backTwo img{
  width: 100%;
  height: 100%;
}
#question h3{
   width: 7.1rem;
   height: 0.7rem;
   margin: 0 auto;
   color: #383838;
   line-height: 0.7rem;
   border-bottom: 2px solid #f1f1f1;
   text-align: center;
   font-family: "苹方粗体";
   font-size: 0.32rem;
   letter-spacing: 0.03rem;

}
.quesText{
  width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.quesText p,.quesText pre{
  font-size: 0.28rem;
  font-family: "苹方粗体";
  margin-bottom: 0.2rem;
  line-height: 1.6em;
  letter-spacing: 0.02rem;
}
.quesText p:nth-child(1){
  margin-top: 0.4rem;
}
.quesText p:nth-last-child(1){
  margin-bottom: 0.4rem;
}
/*  */
.reg-contain{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  background: #f1f1f1;
  margin-top: 50px;
  height: 100%;
}
#form .item{
	width: 100%;
	background: #fff;
	height: 0.8rem;
	margin-bottom: 1px;
	border-radius: 8px;
}
#form .item input{
	width: calc(100% - 0.9rem);
	height: 0.76rem;
	border: none;
	font-size: 0.22rem;
	font-family: "苹方";
	padding-top: 0.08rem;
	padding-bottom: 0.08rem;
	vertical-align: middle;
}
#form .item:nth-child(5){
  margin-top: 10px;
}
#form select{
	width: 100%;
	height: 0.8rem;
	border:1px solid #00b7ee;
	border-radius: 8px;
	font-size: 0.22rem;
  margin-top: 5px;
}
.reg-contain .reg-submit{
	width: 6.1rem;
  height: 0.8rem;
  border-radius: 40px;
  text-align: center;
  line-height: 0.8rem;
  color: #fff;
  background: #00b7ee;
  margin: 0 auto;
  margin-top: 72px;
  font-size: 0.3rem;
  font-family: "苹方";
}
.reg-contain .card-submit{
  width: 6.1rem;
  height: 0.8rem;
  border-radius: 40px;
  text-align: center;
  line-height: 0.8rem;
  color: #fff;
  background: #00b7ee;
  margin: 0 auto;
  margin-top: 76px;
  font-size: 0.3rem;
  font-family: "苹方";
}
/* invitation 邀请好友 */
.nav{
  width: 100%;
  height: 0.88rem;
  background: #1b1b1b;
}
.nav-title{
  width: 5.9rem;
  height: 100%;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  line-height: 0.88rem;
  margin: 0 auto;
  font-family: "苹方常规";
}
.lf{
  float: left;
}
#return{
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  color: #fff;
  margin: 0.2rem;
}
#return img{
  width: 0.27rem;
  height: 0.48rem;
}
.title{
  width: 6.38rem;
  height: 3.56rem;
  margin: 0.2rem auto;
}
.title img{
  width: 100%;
  height: 100%;
}
.contain{
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 auto;
    background: #1D7DFF;
    border-radius: 0.1rem;
    position: relative;
}
.erweima{
  width: 2.6rem;
  height: 2.6rem;
  margin: auto;
  border-radius: 0.1rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.erweima img{
  width: 100%;
  height: 100%;
}
.explain{
  width: 3.6rem;
  color: #fff;
  margin: 0.2rem auto 0.9rem;
  font-size: 0.24rem;
}
.partner{
  width: 4rem;
  height: 0.9rem;
  margin: 0 auto;
  padding-left: 0.2rem;
}
.partner img{
  width: 0.9rem;
  height: 0.9rem;
}
.partner ul{
  width: 2.6rem;
  font-family: "苹方常规";
  color:#fff;
  margin-left: 0.2rem;
  float: left;
}
.partner ul li{
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.26rem;
}
.partner ul li span{
  font-size: 0.32rem;
}
.estyle{
  width: 4rem;
  height: 0.47rem;
  margin: 0 auto;
}
.estyle img{
  width: 100%;
  height: 100%;
  margin-top: 0.6rem;
}
/* 下载页面 */
.bg{
  width: 100%;
  height: 100%;
}
.bg img{
  width: 100%;
  height: 100%;
}
#download a{
   width: 6rem;
   height: 0.8rem;
   background: #00c5ff;
   border-radius: 0.1rem;
   color: #fff;
   font-size: 0.38rem;
   text-align: center;
   line-height: 0.8rem;
   font-family: "苹方粗体";
   position: absolute;
   bottom: 13%;
   left: 50%;
   margin-left: -3rem;
   letter-spacing: 0.03em;

}
.openHint{
  width:5.7rem;
  height: 3.5rem;
  position: absolute;
  top: 0;
  right: 0.6rem;
  z-index: 9999;
  display: none;
}
.shades{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}